<!DOCTYPE html>
<html>
  <head>
    <title>Facture N° {{ order._id }}</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap");

      :root {
        --primary: #f47c7c;
        --secondary: #3d3d3d;
        --white: #f1f1f1;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
      }

      body {
        background: var(--white);
        padding: 50px;
        color: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }

      .bold {
        font-weight: 900;
      }

      .light {
        font-weight: 100;
      }

      .wrapper {
        background: var(--white);
        padding: 30px;
      }

      .invoice_wrapper {
        border: 3px solid var(--primary);
        width: 700px;
        max-width: 100%;
      }

      .invoice_wrapper .header .logo_invoice_wrap,
      .invoice_wrapper .header .bill_total_wrap {
        display: flex;
        justify-content: space-between;
        padding: 30px;
      }

      .invoice_wrapper .header .logo_sec {
        display: flex;
        align-items: center;
      }

      .invoice_wrapper .header .logo_sec .title_wrap {
        margin-left: 5px;
      }

      .invoice_wrapper .header .logo_sec .title_wrap .title {
        text-transform: uppercase;
        font-size: 18px;
        color: var(--primary);
      }

      .invoice_wrapper .header .logo_sec .title_wrap .sub_title {
        font-size: 12px;
      }

      .invoice_wrapper .header .invoice_sec,
      .invoice_wrapper .header .bill_total_wrap .total_wrap {
        text-align: right;
      }

      .invoice_wrapper .header .invoice_sec .invoice {
        font-size: 28px;
        color: var(--primary);
      }

      .invoice_wrapper .header .invoice_sec .invoice_no,
      .invoice_wrapper .header .invoice_sec .date {
        display: flex;
        width: 100%;
      }

      .invoice_wrapper .header .invoice_sec .invoice_no span:first-child,
      .invoice_wrapper .header .invoice_sec .date span:first-child {
        width: 70px;
        text-align: left;
      }

      .invoice_wrapper .header .invoice_sec .invoice_no span:last-child,
      .invoice_wrapper .header .invoice_sec .date span:last-child {
        width: calc(100% - 70px);
      }

      .invoice_wrapper .header .bill_total_wrap .total_wrap .price,
      .invoice_wrapper .header .bill_total_wrap .bill_sec .name {
        color: var(--primary);
        font-size: 20px;
      }

      .invoice_wrapper .body .main_table .table_header {
        background: var(--primary);
      }

      .invoice_wrapper .body .main_table .table_header .row {
        color: var(--white);
        font-size: 18px;
        border-bottom: 0px;
      }

      .invoice_wrapper .body .main_table .row {
        display: flex;
        border-bottom: 1px solid var(--secondary);
      }

      .invoice_wrapper .body .main_table .row .col {
        padding: 10px;
      }
      .invoice_wrapper .body .main_table .row .col_no {
        width: 5%;
      }
      .invoice_wrapper .body .main_table .row .col_des {
        width: 45%;
      }
      .invoice_wrapper .body .main_table .row .col_price {
        width: 20%;
        text-align: center;
      }
      .invoice_wrapper .body .main_table .row .col_qty {
        width: 10%;
        text-align: center;
      }
      .invoice_wrapper .body .main_table .row .col_total {
        width: 20%;
        text-align: right;
      }

      .invoice_wrapper .body .paymethod_grandtotal_wrap {
        display: flex;
        justify-content: space-between;
        padding: 5px 0 30px;
        align-items: flex-end;
      }

      .invoice_wrapper .body .paymethod_grandtotal_wrap .paymethod_sec {
        padding-left: 30px;
      }

      .invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec {
        width: 30%;
      }

      .invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p {
        display: flex;
        width: 100%;
        padding-bottom: 5px;
      }

      .invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span {
        padding: 0 10px;
      }

      .invoice_wrapper
        .body
        .paymethod_grandtotal_wrap
        .grandtotal_sec
        p
        span:first-child {
        width: 60%;
      }

      .invoice_wrapper
        .body
        .paymethod_grandtotal_wrap
        .grandtotal_sec
        p
        span:last-child {
        width: 40%;
        text-align: right;
      }

      .invoice_wrapper
        .body
        .paymethod_grandtotal_wrap
        .grandtotal_sec
        p:last-child
        span {
        background: var(--primary);
        padding: 10px;
        color: #fff;
      }

      .invoice_wrapper .footer {
        padding: 30px;
      }

      .invoice_wrapper .footer > p {
        color: var(--primary);
        text-decoration: underline;
        font-size: 18px;
        padding-bottom: 5px;
      }

      .invoice_wrapper .footer .terms .tc {
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="invoice_wrapper">
        <div class="header">
          <div class="logo_invoice_wrap">
            <div class="logo_sec">
              <img
                src="https://rosecharlotte.fr/logo-site.png"
                alt="logo"
                width="200"
              />
            </div>
            <div class="invoice_sec">
              <p class="invoice bold">FACTURE</p>
              <p class="invoice_no">
                <span class="bold">Facture</span>
                <span>{{ order._id }}</span>
              </p>
              <p class="date">
                <span class="bold">Date</span>
                <span>{{order.paidAt | date('d/m/Y')}}</span>
              </p>
            </div>
          </div>
          <div class="bill_total_wrap">
            <div class="bill_sec">
              <p>Facturation à</p>
              <br />
              <p class="bold name">{{ order.user.name }}</p>
              <span>
                {{ order.user.address | upper }}<br />
                {{ order.user.zip }}, {{ order.user.city | upper }}<br />{{
                  order.user.country | upper
                }}
              </span>
            </div>
            <div class="total_wrap">
              <p>Total</p>
              <p class="bold price">
                {{ order.totalPrice | number_format(2) }} &euro;
              </p>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="main_table">
            <div class="table_header">
              <div class="row">
                <div class="col col_no">#</div>
                <div class="col col_des">PRODUIT</div>
                <div class="col col_price">PRIX</div>
                <div class="col col_qty">QTE</div>
                <div class="col col_total">TOTAL</div>
              </div>
            </div>
            <div class="table_body">
              {% for item in order.orderItems %}
              <div class="row">
                <div class="col col_no">
                  <p>{{ loop.index }}</p>
                </div>
                <div class="col col_des">
                  <p class="bold">{{ item.name }}</p>
                  {% if item.variant.name %}
                  <p>Modèle : {{ item.variant.name }}</p>
                  {% endif %} {% if item.fil %}
                  <p>Fil : {{ item.fil }}</p>
                  {% endif %} {% if item.tissu %}
                  <p>Tissu : {{ item.tissu }}</p>
                  {% endif %} {% if item.patch %}
                  <p>Motif broderie : {{ item.patch }}</p>
                  {% endif %} {% if item.customization %}
                  <p>Commentaire : {{ item.customization }}</p>
                  {% endif %}
                </div>
                <div class="col col_price">
                  {{ orderRealPrices[loop.index0] }} &euro;
                </div>
                <div class="col col_qty">
                  <p>{{ item.quantity }}</p>
                </div>
                <div class="col col_total">
                  <p>
                    {{ item.quantity * orderRealPrices[loop.index0] }} &euro;
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <br />
          <div class="paymethod_grandtotal_wrap">
            <div class="paymethod_sec">
              <p class="bold">Méthode de paiement</p>
              <p>{{ order.paymentMethod }}</p>
            </div>
            <div class="grandtotal_sec">
              <p class="bold">
                <span>SOUS-TOTAL</span>
                <span>{{ order.itemsPrice }} &euro;</span>
              </p>
              <p>
                <span>LIVRAISON</span>
                <span>{{ order.shippingPrice }} &euro;</span>
              </p>
              {% if order.discount > 0 %}
              <p>
                <span>Remise </span>
                <span>{{ order.discount }} &euro;</span>
              </p>
              {% endif %}
              <p class="bold">
                <span>TOTAL</span>
                <span
                  >{{ (order.itemsPrice + order.shippingPrice - order.discount) | number_format(2) }}
                  &euro;</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="footer">
          <p>Rose Charlotte et Compagnie vous remercie pour votre achat.</p>
        </div>
      </div>
    </div>
  </body>
</html>
